.current-score {
  display: grid;
  position: absolute;
  left: 12%;
  top: 35%;
  padding: 1rem;
  text-align: center;
  flex-grow: 1;
  font-size: 55%;
  color: aliceblue;
  border-color: rgba(95, 85, 48, 0.635);
  border-style: solid;
  border-radius: 10px;
  padding-left: 43px;
  padding-right: 43px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgba(95, 85, 48, 0.635);
}

.high-score {
  display: grid;
  position: absolute;
  left: 12%;
  top: 50%;
  padding: 1rem;
  text-align: center;
  flex-grow: 1;
  font-size: 55%;
  color: aliceblue;
  border-color: rgba(95, 85, 48, 0.635);
  border-style: solid;
  border-radius: 10px;
  padding-left: 49px;
  padding-right: 49px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgba(95, 85, 48, 0.635);
}
